body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard-header {
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.dashboard-header h1 {
    margin: 0;
}

.dashboard-header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dashboard-header nav ul li {
    margin: 0 15px;
}

.dashboard-header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.dashboard-header nav ul li a:hover {
    text-decoration: underline;
}

.dashboard-content {
    flex: 1;
    padding: 20px;
}

.dashboard-content section {
    margin-bottom: 40px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically if the container has a height */
}

.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(50% - 20px);
}

.dashboard-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: 250px;  
    flex: 1;
}

.copy-right{
    background-color: lightblue;
    padding: 20px;
    align-self:last baseline;
}

.footer-row-1{
    order: 2
}

.footer-row-2{
    width: 40%;
    order: 1;
    max-width: 50rem
}

.profile-container {
    display: flex;
    width: 200px;
    align-items: center; /* Center the text vertically relative to the image */
    padding: 10px; /* Adjust padding if necessary */
    background-color: #ffffff; /* Set the background color to white */
}

.profile-picture {
    width: 50px; /* Adjust the size of the profile picture */
    height: 50px;
    border-radius: 50%; /* Make the picture circular */
    margin-right: 10px; /* Add space between the picture and the text */
}

.profile-name {
    font-size: 18px; /* Adjust the font size as needed */
    color: #333333; /* Set the text color */
    font-weight: bold; /* Make the text bold */
    text-align: left;
}